{% load customTags %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Player</th>
        <th>Character</th>
        <th>Property</th>
        <th>Property type</th>
        <!--<th>Xp prize</th>-->
        <th>Mentor</th>
        <th>Approval / Decline by GM</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {% for item in querySet %}
        <tr>
            <td>{{ item.character.player }}</td>
            <td>{{ item.character.firstname }} {{ item.character.lastname }} </td>
            <td>{{ item.property }}</td>
            <td>{{ item.property.type.name }}</td>
            {% comment %}<td>
                {% if item.property.type.stattype == item.property.type.STATUS.merits or item.property.type.stattype == item.property.type.STATUS.flaws %}
                    {{ item.property.xpprize }}{% else %}{{ item.property.type.xpinitialprize }}{% endif %}</td>{% endcomment %}
            <td>{% if item.mentor %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>
                {% if item.approvedbygm == item.STATUS.waiting %}
                    <a href="{% url 'domainmanager:adminshopping_validation' item.id item.hash_gm item.STATUS.accepted %}">{% renderButton 1 %}</a>
                    <a href="{% url 'domainmanager:adminshopping_validation' item.id item.hash_gm item.STATUS.declined %}">{% renderButton 2 %}</a>
                {% else %}
                    {{ item.STATUS|getValue:item.approvedbygm }}
                {% endif %}
            </td>

            <td>{{ item.timestamp }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>