{% load staticfiles %}
{% load customTags %}

<div class="container"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Event calendar</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {% comment %}
            <div class="col-md-4">
                Upcoming events:<br/>
                <ul>{% for event in events %}
                    <li>{{ event.name }}</li>
                {% endfor %}</ul>
            </div>
            {% endcomment %}
            <div class="col-md-12">
                <div id="calendar" class="cal-context" style="width: 100%"></div>
            </div>
        </div>

    </div>
    <div class="panel-body"></div>
</div>


<script type="text/javascript">
    var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/static/calendar_tmpls/",
                view: 'month',
                weekbox: false,
                first_day: 1,
                width: '100%',
                format12: false,
                events_source: function () {
                    return [{% for event in events %}
                        {
                            "id": {{ event.pk }},
                            "title": "{{ event.name }}",
                            "url": "http://www.orf.at",
                            "class": "{{ event.domain.pk|renderCalenderClassByDomain }}",
                            "start": {{ event.start_date|date:"U" }}000, // Milliseconds
                            "end": {{ event.end_date|date:"U" }}000 // Milliseconds
                        }{% if not forloop.last %}, {% endif %}{% endfor %}
                    ];
                },
                views: {
                    year: {
                        slide_events: 1,
                        enable: 1
                    },
                    month: {
                        slide_events: 1,
                        enable: 1
                    },
                    week: {
                        enable: 0
                    },
                    day: {
                        enable: 0
                    }
                }
            });
</script>