{% if command == 1 %}<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok-circle"></span>{{ caption }}</button>{% endif %}
{% if command == 2 %}<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ban-circle"></span>{{ caption }}</button>{% endif %}
{% if command == 3 %}<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>{{ caption }}</button>{% endif %}
{% if command == 4 %}<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span>{{ caption }}</button>{% endif %}
{% if command == 5 %}<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-file"></span>{{ caption }}</button>{% endif %}