{% load staticfiles %}

{% for article in news %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ article.caption }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    Überschrift:{{ article.caption }}<br/>
                    Text: {{ article.text }}<br/>
                    Link: {{ article.link }}<br/>LALALA
                </div>
                <div></div>{% if article.image %}<img src="{{ article.image.url  }}" width="600px">{% endif %}
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
    <hr/>
{% endfor %}