{% extends 'base.html' %}
{% load staticfiles %}
{% load customTags %}

{% block title %}GM overview for all player baskets{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-7">
                    <h3>GM shop items that need approval:</h3>
                </div>
            </div>
        </div>
    {% renderAdminBasketTable currentBasket %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-7">
                    <h3>GM shopping basket logbook:</h3>
                </div>
            </div>
        </div>
    {% renderAdminBasketTable oldBasket %}
    </div>

{% endblock %}