<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    {% load staticfiles %}
    <!-- Load custom templates and filters -->
    {% load dataTools %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %}My amazing site{% endblock %}</title>
</head>


<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Domainmanager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:8000/admin/">Django admin</a></li>
                <li><a href="{% url 'domainmanager:adminboons' %}">Boons</a></li>
                <li><a href="{% url 'domainmanager:adminbasket' %}">Basket</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul>
                {% block sidebar %}
                    <li><a href="{% url 'domainmanager:players' %}">Players</a></li>
                    <li><a href="{% url 'domainmanager:characters' %}">Characters</a></li>
                {% endblock %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% block social %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="mailto:conclave@budapestbynight.live">Mail</a></li>
                <li><a href="https://www.facebook.com/bpbynight/">Facebook</a></li>
                <li>
                    <iframe
                            src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&via=twitterdev&related=twitterapi%2Ctwitter&text=custom%20share%20text&hashtags=example%2Cdemo"
                            width="140"
                            height="28"
                            title="Twitter Tweet Button"
                            style="border: 0; overflow: hidden;">
                    </iframe>
                </li>
                <li>
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbpbynight%2F&width=49&layout=box_count&action=like&show_faces=true&share=true&height=65&appId"
                            width="49" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true"></iframe>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>
</html>