<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

    <script src="{% static 'js/parsley.min.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Latest compiled and dialog CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>

    <script src="{% static 'css/parsley.css' %}"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

    <!-- Load custom templates and filters -->
    {% load customTags %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <title>{% block title %}My amazing site{% endblock %}</title>
</head>


<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brand" href="{% url 'domainmanager:index' %}">Domainmanager</a>
            </div>
            <div class="col-md-10">


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Admin Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://127.0.0.1:8000/admin/">Django admin</a></li>
                                <li><a href="{% url 'domainmanager:adminboons' %}">Boons</a></li>
                                <li><a href="{% url 'domainmanager:adminbasket' %}">Basket</a></li>
                                <li><a href="{% url 'domainmanager:playersummary' request.user.id %}">Players</a></li>
                                <li><a href="{% url 'domainmanager:characters' %}">Characters</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Switch character<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% renderCharacterSelection request.user.id %}
                                <li><a href="{% url 'domainmanager:character_create' %}" class="top-menu"><span
                                        class="glyphicon glyphicon-plus"></span>Create new character</a></li>
                            </ul>
                        </li>
                        <li>
                            {% if request.session.active_character_id %}
                                <a href="{% url 'domainmanager:charactersheet' request.session.active_character_id %}">Charactersheet: {{ request.session.active_character_name|default:"No character selected" }}</a>
                            {% else %}
                                <a href="#">Charactersheet: {{ request.session.active_character_name|default:"No character selected" }}</a>
                            {% endif %}
                        </li>
                        <li align="right"><a href="{% url 'domainmanager:logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        {% comment %}<div class="col-md-2" style="padding-top: 60px">
            <ul>
                {% block sidebar %}
                {% endblock %}
            </ul>
        </div>
        {% endcomment %}
        <div class="col-md-10">
            {% block content %}
                THERE could be a NEWS section here
            {% endblock %}
        </div>
    </div>
</div>


{% block social %}
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="mailto:conclave@budapestbynight.live">Write us an Mail</a></li>
                <li><a href="https://www.facebook.com/bpbynight/">Visit us on Facebook</a></li>
                <li>
                    <!--<iframe
                            src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&via=twitterdev&related=twitterapi%2Ctwitter&text=custom%20share%20text&hashtags=example%2Cdemo"
                            width="140"
                            height="28"
                            title="Twitter Tweet Button"
                            style="border: 0; overflow: hidden;">
                    </iframe>-->
                </li>
                <li>
                    <!--<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbpbynight%2F&width=49&layout=box_count&action=like&show_faces=true&share=true&height=65&appId"
                            width="49" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true"></iframe>-->
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


</body>
</html>