{% extends 'base.html' %}

{% block title %}List of all character's properties{% endblock %}


{% block content %}

    <h1>Edit properties</h1>

    <form method="post" action="">{% csrf_token %}
        {{ characterForm.as_p }}

        <table>
            {% for form in propertiesForm %}
                {{ form.as_table }}
            {% endfor %}
        </table>

        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

{% block social %}
{% endblock %}