{% extends 'base.html' %}
{% load lineage %}
{% load staticfiles %}
{% load customTags %}

{% block title %}Character: {{ character.firstname }} {{ character.lastname }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">

            {% block panel-nav %}
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="{% ancestor 'domainmanager:charactersheet' character.id %}"><a
                                href="{% url 'domainmanager:charactersheet' character.id %}">Charactersheet</a></li>
                        <li class="{% ancestor 'domainmanager:characterxps' character.id %}"><a
                                href="{% url 'domainmanager:characterxps' character.id %}">XP</a></li>
                        <li class="{% ancestor 'domainmanager:characterboons' character.id %}"><a
                                href="{% url 'domainmanager:characterboons' character.id %}">Boons</a></li>
                        <li class="{% ancestor 'domainmanager:characterbasket' character.id %}"><a
                                href="{% url 'domainmanager:characterbasket' character.id %}">Basket</a></li>
                    </ul>
                </div>
            {% endblock panel-nav %}


            <div id="myModal" class="modal fade">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit character header information</h4>
                        </div>
                        <div class="modal-body">
                            <p>Loading...</p>
                        </div>
                    </div>
                </div>
            </div>

            {% block characterheader %}
                <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Charactersheet: {{ character.firstname }} {{ character.lastname }}<a href="#"
                                                                                                     onclick="javascript:changeHeaderInformation()"
                                                                                                     class="top-menu">
                                <span class="glyphicon glyphicon-pencil"></span></a></h3>
                        </div>
                        <div class="col-md-*" align="right" style="padding-right:10px">
                            <img src="{{ character.clan.image.url }}" alt="Clan logo"
                                 height="100px" width="auto"/>
                        </div>

                    </div>
                </div>



                <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                Name:
                            </div>
                            <div class="col-md-6">
                                {{ character.firstname }} {{ character.lastname }}
                            </div>
                        </div>
                        {% if character.nickname != None %}
                            <div class="row">
                                <div class="col-md-4">
                                    Nickname:
                                </div>
                                <div class="col-md-6">
                                    {{ character.nickname }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-4">
                                Domain:
                            </div>
                            <div class="col-md-6">
                                {{ character.domain }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Player:
                            </div>
                            <div class="col-md-6">
                                {{ character.player }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if character.clan != None %}
                            <div class="row">
                                <div class="col-md-4">
                                    Clan:
                                </div>
                                <div class="col-md-6">{{ character.clan.name }}</div>
                            </div>{% endif %}
                        {% if character.generation != None %}
                            <div class="row">
                                <div class="col-md-4">
                                    Generation:
                                </div>
                                <div class="col-md-6">
                                    {{ character.generation }}
                                </div>
                            </div>{% endif %}
                        {% if character.rank != None %}
                            <div class="row">
                                <div class="col-md-4">
                                    Rank:
                                </div>
                                <div class="col-md-6">{{ character.rank }}</div>
                            </div>{% endif %}
                        {% if character.sire != None %}
                            <div class="row">
                                <div class="col-md-4">
                                    Sire:
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url  'domainmanager:charactersheet' character.sire.id %}">{{ character.sire.firstname }} {{ character.sire.lastname }}</a>
                                </div>
                            </div>{% endif %}

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">Willpower:</div>
                            <div class="col-md-6">{{ character.willpower }} </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Frenzy points:</div>
                            <div class="col-md-6">{{ character.frenzy }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Bloodpool:</div>
                            <div class="col-md-6">{{ character.bloodpool }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Age category:</div>
                            <div class="col-md-6">{{ character.age_category }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">XP left :</div>
                            <div class="col-md-6">{{ xpleft }} </div>
                        </div>
                    </div>
                </div>

            {% endblock characterheader %}

            {% block characterproperties %}

                <div class="row">
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Physical' physical %}
                    </div>
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Social' social %}
                    </div>
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Mental' mental %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Talents' talents %}
                    </div>
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Skills' skills %}
                    </div>
                    <div class="col-md-4">
                        {% renderCharacterSheetSection 'Knowledges' knowledges %}
                    </div>
                </div>

                {% comment %}
                <div class="row">
                    <div class="col-md-3">
                        <h3>Physical</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Mental</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Strength</div>
                    <div class="col-md-1">{{ properties.Strength.value }}
                        {% renderLvlUpButton properties.Strength.id properties.Strength.value properties.Strength.name %}
                    </div>
                    <div class="col-md-2">Charisma</div>
                    <div class="col-md-1">{{ properties.Charisma.value }}
                        {% renderLvlUpButton properties.Charisma.id properties.Charisma.value properties.Charisma.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Agility</div>
                    <div class="col-md-1">{{ properties.Agility.value }}
                        {% renderLvlUpButton properties.Agility.id properties.Agility.value properties.Agility.name %}</div>
                    <div class="col-md-2">Intelligence</div>
                    <div class="col-md-1">{{ properties.Intelligence.value }}
                        {% renderLvlUpButton properties.Intelligence.id properties.Intelligence.value properties.Intelligence.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Stamina</div>
                    <div class="col-md-1">{{ properties.Stamina.value }}
                        {% renderLvlUpButton properties.Stamina.id properties.Stamina.value properties.Stamina.name %}</div>
                    <div class="col-md-2">Perception</div>
                    <div class="col-md-1">{{ properties.Perception.value }}
                        {% renderLvlUpButton properties.Perception.id properties.Perception.value properties.Perception.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Talents</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Skills</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Knowledges</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Brawl</div>
                    <div class="col-md-1">
                        {{ properties.Brawl.value }}{% renderLvlUpButton properties.Brawl.id properties.Brawl.value properties.Brawl.name %}</div>
                    <div class="col-md-2">Melee</div>
                    <div class="col-md-1">
                        {{ properties.Melee.value }}{% renderLvlUpButton properties.Melee.id properties.Melee.value properties.Melee.name %}</div>
                    <div class="col-md-2">Occult</div>
                    <div class="col-md-1">
                        {{ properties.Occult.value }}{% renderLvlUpButton properties.Occult.id properties.Occult.value properties.Occult.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Dodge</div>
                    <div class="col-md-1">
                        {{ properties.Dodge.value }}{% renderLvlUpButton properties.Dodge.id properties.Dodge.value properties.Dodge.name %}</div>
                    <div class="col-md-2">Firearms</div>
                    <div class="col-md-1">
                        {{ properties.Firearms.value }}{% renderLvlUpButton properties.Firearms.id properties.Firearms.value properties.Firearms.name %}</div>
                    <div class="col-md-2">Cainite Lore</div>
                    <div class="col-md-1">
                        {{ properties.Cainite_Lore.value }}{% renderLvlUpButton properties.Cainite_Lore.id properties.Cainite_Lore.value properties.Cainite_Lore.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Manipulation</div>
                    <div class="col-md-1">
                        {{ properties.Manipulation.value }}{% renderLvlUpButton properties.Manipulation.id properties.Manipulation.value properties.Manipulation.name %}</div>
                    <div class="col-md-2">Stealth</div>
                    <div class="col-md-1">
                        {{ properties.Stealth.value }}{% renderLvlUpButton properties.Stealth.id properties.Stealth.value properties.Stealth.name %}</div>
                    <div class="col-md-2">Linguistics</div>
                    <div class="col-md-1">
                        {{ properties.Linguistics.value }}{% renderLvlUpButton properties.Linguistics.id properties.Linguistics.value properties.Linguistics.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Empathy</div>
                    <div class="col-md-1">
                        {{ properties.Empathy.value }}{% renderLvlUpButton properties.Empathy.id properties.Empathy.value properties.Empathy.name %}</div>
                    <div class="col-md-2">Meditation</div>
                    <div class="col-md-1">
                        {{ properties.Meditation.value }}{% renderLvlUpButton properties.Meditation.id properties.Meditation.value properties.Meditation.name %}</div>
                    <div class="col-md-2">Academics</div>
                    <div class="col-md-1">
                        {{ properties.Academics.value }}{% renderLvlUpButton properties.Academics.id properties.Academics.value properties.Academics.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Survival</div>
                    <div class="col-md-1">
                        {{ properties.Survival.value }}{% renderLvlUpButton properties.Survival.id properties.Survival.value properties.Survival.name %}</div>
                    <div class="col-md-2">Electronics</div>
                    <div class="col-md-1">
                        {{ properties.Electronics.value }}{% renderLvlUpButton properties.Electronics.id properties.Electronics.value properties.Electronics.name %}</div>
                    <div class="col-md-2">Science</div>
                    <div class="col-md-1">
                        {{ properties.Science.value }}{% renderLvlUpButton properties.Science.id properties.Science.value properties.Science.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Secondary Skills</h3>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <h3>Backgrounds</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Generation
                    </div>
                    <div class="col-md-1">
                        {{ properties.Generation.value }}{% renderLvlUpButton properties.Generation.id properties.Generation.value properties.Generation.name %}</div>
                    <div class="col-md-2">Mentor</div>
                    <div class="col-md-1">
                        {{ properties.Mentor.value }}{% renderLvlUpButton properties.Mentor.id properties.Mentor.value properties.Mentor.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Resources</div>
                    <div class="col-md-1">
                        {{ properties.Resources.value }}{% renderLvlUpButton properties.Resources.id properties.Resources.value properties.Resources.name %}</div>
                    <div class="col-md-2">Library</div>
                    <div class="col-md-1">
                        {{ properties.Library.value }}{% renderLvlUpButton properties.Library.id properties.Library.value properties.Library.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Herd</div>
                    <div class="col-md-1">
                        {{ properties.Herd.value }}{% renderLvlUpButton properties.Herd.id properties.Herd.value properties.Herd.name %}</div>
                    <div class="col-md-2">Haven</div>
                    <div class="col-md-1">
                        {{ properties.Haven.value }}{% renderLvlUpButton properties.Haven.id properties.Haven.value properties.Haven.name %}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Retainers</div>
                    <div class="col-md-1">
                        {{ properties.Retainers.value }}{% renderLvlUpButton properties.Retainers.id properties.Retainers.value properties.Retainers.name %}</div>
                </div>

                {% endcomment %}

                <div class="row">
                    <div class="col-md-3">
                        <h3>Disciplines</h3>
                    </div>
                </div>
                {% for field in disciplines %}
                    <div class="row">
                        <div class="col-md-2">{{ field.property.name }}</div>
                        <div class="col-md-1">{{ field.value }} {% renderLvlUpButton field.id field.value field.property.name %}</div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-5">
                        <h3>Thaumaturgic paths</h3>
                    </div>
                </div>
                {% for field in thaumaturgicpaths %}
                    <div class="row">
                        <div class="col-md-2">{{ field.property.name }}</div>
                        <div class="col-md-1">{{ field.value }} {% renderLvlUpButton field.id field.value field.property.name %}</div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-3">
                        <h3>Rituals</h3>
                    </div>
                </div>
                {% for field in rituals %}
                    <div class="row">
                        <div class="col-md-2">{{ field.property.name }}</div>
                        <div class="col-md-1">{{ field.value }} {% renderLvlUpButton field.id field.value field.property.name %}</div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-3">
                        <h3>Necromantic paths</h3>
                    </div>
                </div>
                {% for field in necromanticpaths %}
                    <div class="row">
                        <div class="col-md-2">{{ field.property.name }}</div>
                        <div class="col-md-1">{{ field.value }} {% renderLvlUpButton field.id field.value field.property.name %}</div>
                    </div>
                {% endfor %}
                </div>
                </div>
            {% endblock characterproperties %}
            <div class="panel-footer print-table"><a href="javascript:window.print()">Print charactersheet</a></div>

        </div>
    </div>


    <script type="text/javascript">
        {% autoescape off %}

            function changeHeaderInformation() {
                $('#myModal').modal('show').find('.modal-body').load('{% url 'domainmanager:characterinformation_edit' character.pk %} ');
            }


            function showLvlDialog(propId, propValue, propName, xpCost) {
                BootstrapDialog.show({
                    message: 'Do you really want to raise ' + propName + " to " + (propValue + 1) + "?\n" + 'This will cost ' + xpCost + ' XP',
                    buttons: [{
                        label: 'Ok',
                        cssClass: 'btn-primary',
                        action: function () {
                            window.location.href = "http://{{ request.get_host }}/domainmanager/lvlup/" + propId;
                        }
                    }, {
                        icon: 'glyphicon glyphicon-ban-circle',
                        label: 'Cancel',
                        cssClass: 'btn-warning',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });
            }

            $(document).ready(function () {
                console.log("JQuery is loaded");
            });

        {% endautoescape %}
    </script>

{% endblock %}

{% block calendar %}
{% endblock %}