{% extends 'charactersheet.html' %}
{% load staticfiles %}

{% block title %}List of all character's properties for {{ character.firstname }} {{ character.lastname }}{% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="panel panel-default">

        {% block characterheader %}
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3>General Information</h3>
                    </div>
                </div>
                <div class="row">
                    <form method="post" action="">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-md-8">
                            <div class="headerpanel">{{ form.firstname.label_tag }} {{ form.firstname }}</div>
                            {{ form.lastname.errors }}
                            <div class="headerpanel">{{ form.lastname.label_tag }} {{ form.lastname }}</div>
                            {{ form.nickname.errors }}
                            <div class="headerpanel">{{ form.nickname.label_tag }} {{ form.nickname }}</div>
                            {{ form.clan.errors }}
                            <div class="headerpanel">{{ form.clan.label_tag }} {{ form.clan }}</div>
                            {{ form.generation.errors }}
                            <div class="headerpanel">{{ form.generation.label_tag }} {{ form.generation }}</div>
                            {{ form.sire.errors }}
                            <div class="headerpanel">{{ form.sire.label_tag }} {{ form.sire }}</div>
                            </h3>
                            <button type="submit" class="save btn btn-default">Save</button>
                        </div>
                        {% block characterlogo %}
                            {{ block.super }}
                        {% endblock characterlogo %}

                    </form>
                </div>
            </div>
        {% endblock %}

        {% block characterproperties %}
            {{ block.super }}
        {% endblock characterproperties %}

    </div>

{% endblock %}

{% block social %}
{% endblock %}