{% extends 'charactersheet.html' %}
{% load staticfiles %}
{% load customTags %}

{% block title %}Known clan secrets of {{ character.firstname }} {{ character.lastname }} {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12">

            {% block panel-nav %}
                {{ block.super }}
            {% endblock panel-nav %}


            {% for clan, secret in secrets.items %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            {% if secret|length == 1%}
                                <div class="col-md-5">
                                    <h3>{{ secret|length }} secret of Clan {{ clan }}</h3>
                                </div>
                            {% else %}
                                <div class="col-md-5">
                                    <h3>{{ secret|length }} secrets of Clan {{ clan }}</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for clansecret in secret %}

                            <tr>
                                <td>{{ clansecret.rank }} </td>
                                <td> {{ clansecret.description }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}