{% extends 'charactersheet.html' %}
{% load staticfiles %}
{% load dataTools %}

{% block title %}All my bought stuff for: {{ character.firstname }} {{ character.lastname }} {% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% block panel-nav %}
        {{ block.super }}
    {% endblock panel-nav %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <h3>Shopping cart</h3>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>New property</th>
                <th>New property type</th>
                <th>New property prize</th>
                <th>Approved by GM</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for row in basket %}
                <tr>
                    <td>{% if row.property %}{{ row.property }}{% else %}{{ row.newproperty }}{% endif %}</td>
                    <td>{% if row.property %}{{ row.property.type.name }}{% else %}{{ row.newpropertytype }}{% endif %}</td>
                    <td>{% if row.property %}{{ row.property.type.xpinitialprize }}{% else %}{{ row.newpropertytype.xpinitialprize }}{% endif %}</td>
                    <td>{{ row.STATUS|getValue:row.approvedbygm }}</td>
                    <td>{{ row.timestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}