{% extends 'base.html' %}

{% block title %}List of all Characters{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>List of all Characters</h3>
                </div>
                <div class="panel-body">
                    {% for clan in clans %}

                        {{ clan.name }}<br/>

                        {% for character in characters %}

                            {% if character.clan.id == clan.id %}

                                {% if character.player.pk == request.user.pk %}
                                    <a href="{% url 'domainmanager:charactersheet' character.id %}"
                                       style="padding-left:4em">{{ character.firstname }} {{ character.lastname }}<br/></a>
                                {% else %}
                                    <span style="padding-left:4em"> {{ character.firstname }} {{ character.lastname }}</span><br/>
                                {% endif %}

                            {% endif %}

                        {% endfor %}

                        {% for blood in bloodlines %}

                            {% if clan.id == blood.parent.id %}

                                <p style="padding-left:4em;padding-top:5px;margin-bottom:0px">{{ blood.name }}</p>
                                {% for bcharacter in characters %}
                                    {% if bcharacter.clan.id == blood.id %}

                                        {% if bcharacter.player.pk == request.user.pk %}
                                            <a href="{% url 'domainmanager:charactersheet' bcharacter.id %}"
                                               style="padding-left:8em">{{ bcharacter.firstname }} {{ bcharacter.lastname }}<br/></a>
                                        {% else %}
                                            <span style="padding-left:8em"> {{ bcharacter.firstname }} {{ bcharacter.lastname }}</span><br/>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        {% endfor %}


                    {% endfor %}
                </div>

            </div>


        </div>
    </div>
{% endblock %}