{% extends 'base.html' %}
{% load staticfiles %}

{% block additionalscripts %}
    <link type="text/css" href="{% static  'css/jit/base.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static  'css/jit/Spacetree.css' %}" rel="stylesheet"/>

    <!--[if IE]><script language="javascript" type="text/javascript" src="{% static 'js/excanvas.js'%}" ></script><![endif]-->

    <!-- JIT Library File -->
    <script language="javascript" type="text/javascript" src="{% static 'js/jit.js' %}"></script>

    <!-- data  -->
    <script language="javascript" type="text/javascript" src="{% static 'js/genealogy_json.js' %}"></script>
{% endblock %}

{% block title %}A vampire genealogy{% endblock %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function () {
            init();
        });
    </script>

    <div id="container">

        <div class="col-md-12">

            <div id="center-container">
                <div id="infovis"></div>
            </div>

            <div id="right-container">

                <h4>Tree Orientation</h4>
                <table>
                    <tr>
                        <td>
                            <label for="r-left">Left </label>
                        </td>
                        <td>
                            <input type="radio" id="r-left" name="orientation" checked="checked" value="left"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="r-top">Top </label>
                        </td>
                        <td>
                            <input type="radio" id="r-top" name="orientation" value="top"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="r-bottom">Bottom </label>
                        </td>
                        <td>
                            <input type="radio" id="r-bottom" name="orientation" value="bottom"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="r-right">Right </label>
                        </td>
                        <td>
                            <input type="radio" id="r-right" name="orientation" value="right"/>
                        </td>
                    </tr>
                </table>

                <h4>Selection Mode</h4>
                <table>
                    <tr>
                        <td>
                            <label for="s-normal">Normal </label>
                        </td>
                        <td>
                            <input type="radio" id="s-normal" name="selection" checked="checked" value="normal"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="s-root">Set as Root </label>
                        </td>
                        <td>
                            <input type="radio" id="s-root" name="selection" value="root"/>
                        </td>
                    </tr>
                </table>

            </div>

            <div id="log"></div>
        </div>
    </div>
{% endblock %}

{% block social %}

{% endblock %}