{% extends 'base.html' %}

{% block title %}List of all Players{% endblock %}


{% block content %}

    {% for user in users%}

        <a href="{% url 'domainmanager:playersummary' user.id %} ">{{ user.get_full_name }} </a><br/>

        {% for character in characters %}

            {% if character.player.user.id == user.id %}
                <a href="{% url 'domainmanager:charactersheet' character.id %}" style="padding-left:4em ">{{ character.firstname }} {{ character.lastname }} <br/></a>
            {% endif %}

        {% endfor %}

    {% endfor %}

{% endblock %}