.print-table{
    border-top: none; !important;
}
.help {
    font-size: 11px;
    color: #999;
}
#top_menu{
    margin: 0px;
}
#top_menu.navbar-default .navbar-nav{
     float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
}

#footer_menu{
    margin: 0px;
}
#footer_menu.navbar-default .navbar-nav{
     float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
}

.advancedCharacterCreationSectionLimit{
    color:#337618;
}

.advancedCharacterCreationSection{
    color: #761c19;
}