<div class="container">

    <form method="post" action="{% url 'domainmanager:characterinformation_edit' character.pk %}" id="characterForm" data-parsley-validate="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row" style="padding-top: 2px;padding-bottom: 3px">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    {{ form.firstname.label_tag }}
                </div>

            </div>
            <div class="col-md-4">
                {{ form.firstname }}
            </div>
        </div>
        <div class="row" style="padding-top: 2px;padding-bottom: 3px">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    {{ form.lastname.label_tag }}
                </div>
            </div>
            <div class="col-md-4">
                {{ form.lastname }}
            </div>
        </div>
        <div class="row" style="padding-top: 2px;padding-bottom: 3px">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    {{ form.nickname.label_tag }}
                </div>
            </div>
            <div class="col-md-4">
                {{ form.nickname }}
            </div>
        </div>
        <div class="row" style="padding-top: 2px;padding-bottom: 3px">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4">
                <button type="submit" class="save btn btn-default">Save</button>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">

    $(function () {

        $('#id_nickname').attr('data-parsley-required', 'true');
        $('#id_firstname').attr('data-parsley-required', 'true');
//        $('#id_lastname').attr('data-parsley-required', 'true');

        $('#characterForm').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-warning').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            document.forms["characterForm"].submit();
            //return false; // Don't submit form for this demo
        });
    });

</script>