{% extends 'charactersheet.html' %}
{% load staticfiles %}

{% block title %}List of all character's properties for {{ character.firstname }} {{ character.lastname }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12">

            <div class="panel panel-default">

                {% block characterheader %}
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>General Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form method="post" action="">{% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form.firstname.errors }}
                                            {{ form.firstname.label_tag }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.firstname }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form.lastname.errors }}
                                            {{ form.lastname.label_tag }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.lastname }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form.nickname.errors }}
                                            {{ form.nickname.label_tag }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.nickname }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" align="right">
                                            <button type="submit" class="save btn btn-default">Save</button>
                                        </div>
                                    </div>
                                </div>
                                {% block characterlogo %}
                                    {{ block.super }}
                                {% endblock characterlogo %}

                            </form>
                        </div>
                    </div>
                    <div class="panel-footer">
                        test
                    </div>
                    </div>
                {% endblock %}

            {% block characterproperties %}
                {{ block.super }}
            {% endblock characterproperties %}


        </div>
    </div>


{% endblock %}