<div class="container">
    <form method="post" action="{% url 'domainmanager:charactershopping' character.pk %}" id="basketForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    <label>Type</label>
                </div>
            </div>
            <div class="col-md-4">
                {% comment %}{{ form.newpropertytype }}{% endcomment %}
                <select id="id_newpropertytype" name="propertytype">
                    {% for propertytype in  propertytypes %}
                        <option value="{{ propertytype.stattype }}">{{ propertytype.name }}</option>
                    {% endfor %}
                </select>
                <p class="help">First, select the property type</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    <label>Property</label>
                </div>
            </div>
            <div class="col-md-4">
                <select id="id_property" name="property">
                    {% for property in  properties %}
                        <option value="{{ property.pk }}" class="propertytype{{ property.type.stattype }}">{{ property.name }}</option>
                    {% endfor %}
                </select>
                <p class="help">Then, select the property you want to buy</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="fieldWrapper">
                    <label>Mentor</label>
                </div>
            </div>
            <div class="col-md-4">
                <input type="checkbox" name="mentor" id="id_mentor">
                <p class="help">Do you have access to a mentor?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-default" style="margin-top: 10px">Buy</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">

    function setOriginalSelect($select) {
        if ($select.data("originalHTML") == undefined) {
            $select.data("originalHTML", $select.html());
        } // If it's already there, don't re-set it
    }

    function removeOptions($select, $options) {
        setOriginalSelect($select);
        $options.remove();
    }

    var $testSelect = $('#id_property');

    $('#id_newpropertytype').change(function () {
        type = ($('#id_newpropertytype').val());

        var ogHTML = $testSelect.data("originalHTML");
        if (ogHTML != undefined) {
            $testSelect.html(ogHTML);
        } else {
            $testSelect.data("originalHTML", $testSelect.html());
        }

        var $optionsToRemove = $testSelect.find('option:not(.propertytype' + type + ')');
        //var $optionsToRemove = $testSelect.find('option:even');
        removeOptions($testSelect, $optionsToRemove);
    });


</script>