{% extends 'base.html' %}

{% block title %}Character creation{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Embrace the night, childe of darkness</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" class="post-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.is_hidden != True %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="fieldWrapper">
                                            {{ field.label_tag }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        {{ field }}
                                    </div>
                                    <div class="col-md-4">
                                        {% if field.errors %}
                                            <div class="alert alert-warning">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!--
                        <div class="row">
                            <div class="col-md-2">
                                <div class="fieldWrapper">
                                    <label>Sire selector:</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="sireSearch">
                                <p class="help">If you did not find your characterter´s Sire in the select box you can search here.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <ul id="sireResults">
                                </ul>
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="save btn btn-default">Save</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <script>
        function selectSire(sireId) {
            $('#id_sire').val(sireId);
        }
    </script>

{% endblock %}